//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 21 10:36:59 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "i_right_left" LOCATE = SITE "E16" LEVEL 1;
COMP "i_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "T18" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "T17" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "U17" LEVEL 1;
COMP "i_ld_en" LOCATE = SITE "F18" LEVEL 1;
COMP "d_in<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "d_in<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "d_in<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "d_in<3>" LOCATE = SITE "D18" LEVEL 1;
NET "i_clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

